{:paths ["src"]
 :deps  {com.datomic/local             {:mvn/version "1.0.285"}
         org.clojure/tools.namespace   {:mvn/version "1.4.5"}
         io.pedestal/pedestal.jetty    {:mvn/version "0.7.1"}
         org.slf4j/slf4j-simple        {:mvn/version "2.0.10"}
         hiccup/hiccup                 {:mvn/version "2.0.0-RC3"}}}